/* General body styling */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color:#262626;
  margin: 0;
  padding: 0;
}

/* Container styling for the modal */
.modal_code {
  width: 100%;
  max-width: 360px;
  margin: 50px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Heading styling */
.modal_code h1 {
  font-size: 24px;
  font-weight: bold;
  color: #262626;
  margin: 0 0 10px;
}

/* Small text styling */
.modal_code small {
  display: block;
  font-size: 14px;
  color: #8e8e8e;
  margin: 0 0 20px;
}

/* Input field styling */
.number-input {
  width: 40px;
  height: 40px;
  margin: 0 5px;
  text-align: center;
  font-size: 18px;
  border-style:none ;
  border-bottom: 1px solid #dbdbdb;
  
  box-sizing: border-box;
}

.number-input:focus {
  outline: none;
  border-color: #0095f6;
}

/* Submit button styling */
.button {
  width: 100%;
  height: 40px;
  background-color: #0095f6;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.button:hover {
  background-color: #007bb5;
}
