.flashed_messages{
  position: absolute;
  left: 0;
  top:10%;
}
.card{
  margin: auto;
  background-color: #6669;
  width: 350px;
  display: flex;
  box-shadow: 0 0 30px #666;
  transition: transform  0.3 ease-in;
  box-sizing: border-box;

}
.card:hover{
  transform: scale(1.05);

}


.left_side{
  background-color: #333;
  width: 40%;
  text-align: center;
  font-size: 2em;

}

.right_side{
  position: relative;
  padding: 20px;
}

.right_side i{
  
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 0.9em;
  transition: transform 0.3s ease;
}
.right_side i:hover{
  transform: rotate(360deg);
}