@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.toggle-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}


h1{
  font-family: "Dancing Script";
  width: 100%;
  text-align: center;
  letter-spacing: 10px;
  height: 15%;
}

.fa-instagram {
  
  margin: auto;
  margin-bottom: 10px;
  font-size: 100px;

  

}

.accept_terms{
  width: 100%;
  margin-top: 40%;
}

#login_button{
  margin-top:5%;
}

form .form-control:first-child{
  margin-top: 5%;
}

select{
  border-style: none;
  background-color: transparent;
}

