@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.toggle-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.flashed_messages{
  position: absolute;
  top:0%;
  left:0%;
  padding: 15px;
  margin: 15px 0;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  

}
h1{
  font-family: "Dancing Script";
  width: 100%;
  text-align: center;
  letter-spacing: 10px;
  height: 15%;
}

.fa-instagram {
  
  margin: auto;
  margin-bottom: 10px;
  font-size: 100px;

  

}

.accept_terms{
  width: 100%;
  margin-top: 40%;
}

#login_button{
  margin-top:5%;
}

form .form-control:first-child{
  margin-top: 5%;
}

