<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CORS Example</title>
</head>
<body>
    <h1>CORS Example</h1>
    <img src="https://cors-anywhere.herokuapp.com/https://instagram.fyyz1-2.fna.fbcdn.net/v/t51.2885-19/421895145_1312738182649712_3760298741673130393_n.jpg?_nc_ht=instagram.fyyz1-2.fna.fbcdn.net&_nc_cat=108&_nc_ohc=v7ROgk8YpzcQ7kNvgEAN71O&edm=AEF8tYYBAAAA&ccb=7-5&oh=00_AYAzdyYB10FUzf9FQxLaHbCARR3j0ji5MUQy7W1xgCxWZQ&oe=66813C11&_nc_sid=1e20d2" alt="Test Image" crossorigin="anonymous">
    
  
</body>
</html>